/* centre an embedded tweet in the article */
.twitter-tweet
  /* fixme what a crim. Need to override twitter's widget.js element style rubbish */
  margin-left auto !important
  margin-right auto !important
